/* @import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-size: 18px;
  background-color: rgb(3, 3, 102);
}
/* rgb(2, 2, 174) */
.wrapper {
  display: flex;
  justify-content: center;
}
.container {
  margin: 0 auto;
  padding: 40px 0 0 125px;
}
.wrapper-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1300px;
}
.wrapper-logo > span {
  color: #fff;
  font-weight: 600;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 26px;
}
.object {
  color: orange;
  font-weight: bold;
  font-weight: 900;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.header-menu-link {
  list-style: none;
  display: inline-block;
  position: relative;
  left: 400px;
  top: -60px;
  padding: 30px;
  text-transform: uppercase;
}
.header-menu-link > a {
  text-decoration: none;
  color: white;
  font-weight: 900;
  transition: 300ms;
  font-family: "IBM Plex Sans", sans-serif;
}
.header-menu-link > a:hover {
  color: orangered;
}
.header-burger {
  display: none;
  color: #fff;
  background-color: #313d49;
  left: 290px;
  top: -28px;
}
.myContainer {
  width: 80%;
  margin: 0 auto;
}
.welcome {
  display: flex;
  justify-content: space-between;
}
.welcome-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 580px;
}
.welcome-left-title {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 530px;
  height: 90px;
}
.welcome-left-title > h2 {
  color: white;
  font-family: "Courier New", Courier, monospace;
}
.welcome-left-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 590px;
}
.welcome-left-inner > h1 {
  color: white;
  font-size: 50px;
  font-weight: 600;
  margin: 5px;
}
.welcome-left-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 210px;
}
.welcome-left-btn > a {
  border: 1px solid orange;
  /* padding: 30px 20px 0 0; */
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: orange;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
.welcome-right > img {
  width: 700px;
  height: 600px;
}
.cards {
  display: flex;
  justify-content: space-between;
  position: relative;
  left: 30px;
}
.cards-left-cards {
  display: inline-block;
  width: 1200px;
  margin-left: 470px;
  margin-top: 200px;
}
.cards-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 570px;
}
.cards-left-card {
  display: inline-block;
  border: 1px solid #fff;
  width: 300px;
  height: 500px;
  background-color: white;
  margin: 10px;
}
.cards-left-card-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin-top: 70px;
}
.cards-left-card-img > img {
  width: 100px;
  height: 100px;
}
.cards-left-card-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin-top: 40px;
}
.cards-left-card-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin-top: 30px;
}
.cards-left-card-inner > p {
  text-align: center;
  color: #292828;
  font-family: "IBM Plex Sans", sans-serif;
  width: 220px;
}
.cards-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 580px;
}
.cards-right-cards {
  margin-left: -65px;
  margin-top: 200px;
}
.js > img {
  width: 200px;
}
.git > img {
  width: 200px;
}
.about {
  display: flex;
  justify-content: space-between;
  margin-top: 90px;
}
.about-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 580px;
}
.about-left > img {
  width: 700px;
  height: 600px;
}
.about-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 580px;
}
.about-title {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 490px;
  height: 90px;
}
.about-title > p {
  font-size: 20px;
  color: white;
  font-family: "IBM Plex Sans", sans-serif;
}
.about-text {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 490px;
  height: 150px;
}

.about-text > span {
  font-size: 50px;
  text-transform: uppercase;
  color: white;
  font-family: "IBM Plex Sans", sans-serif;
}
.about-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 490px;
}
.about-inner > p {
  font-size: 20px;
  font-family: "IBM Plex Sans", sans-serif;
  color: white;
  width: 650px;
}
.work {
  display: flex;
  justify-content: space-between;
  position: relative;
  left: -90px;
  top: 100px;
}
.work-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 580px;
}
.work-left-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 455px;
}
.work-left-title {
  color: white;
  text-transform: uppercase;
}

.work-left-card {
  position: relative;
  left: 200px;
  top: 100px;
  margin: 30px;
}
.work-left-card-img > img {
  width: 350px;
  height: 200px;
  border-radius: 10px;
}
.work-left-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60px;
}
.work-left-inner > h4 {
  text-align: center;
  color: white;
  font-size: 20px;
  font-family: "IBM Plex Sans", sans-serif;
}
.work-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 580px;
}
.work-right-card {
  position: relative;
  top: 120px;
  margin: 30px;
}
.services {
  display: flex;
  justify-content: space-between;
  margin-top: -300px;
}
.services-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.services-left-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1250px;
  margin-top: 300px;
}
.services-left-text > span {
  color: white;
  font-family: "IBM Plex Sans", sans-serif;
}
.services-left-title > h1 {
  color: white;
  font-size: 50px;
  text-transform: uppercase;
  font-family: "IBM Plex Sans", sans-serif;
}
.services-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80px;
}
.services-cards {
  display: inline-block;
  width: 1200px;
  position: relative;
  left: -650px;
  top: 650px;
}
.services-card {
  display: inline-block;

  width: 380px;
  height: 800px;
}
.services-card-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 380px;
  margin-top: 100px;
}
.services-card-img > img {
  width: 200px;
  height: 200px;
}
.services-card-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 380px;
  margin-top: 50px;
}
.services-card-title > h3 {
  color: white;
  font-size: 30px;
  font-family: "IBM Plex Sans", sans-serif;
}
.services-card-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 380px;
  margin-top: 30px;
}
.services-card-text > p {
  color: white;
  font-size: 14px;
  font-family: "IBM Plex Sans", sans-serif;
}
.services-card-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  width: 380px;
  position: relative;
  left: 50px;
  margin-top: 30px;
}

.services-card-inner > li {
  color: white;

  /* width: 200px; */
}
.services-card-price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 380px;
  margin-top: 60px;
}
.services-card-price > span {
  color: white;
  font-size: 21px;
  font-family: "IBM Plex Sans", sans-serif;
}
.services-card-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 380px;
  margin-top: 80px;
}
.services-card-btn > a {
  border: 1px solid orange;
  background-color: orange;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 60px;
  text-align: center;
  justify-content: center;
  align-items: center;
  /* padding: 10px 10px 10px 10px; */
  font-family: "IBM Plex Sans", sans-serif;
}
.feedback {
  display: flex;
  justify-content: space-between;
  margin-top: 780px;
}
.feedback-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.feedback-left-text {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 340px;
  height: 70px;
}
.feedback-left-text > p {
  font-size: 20px;
  color: white;
  font-family: "IBM Plex Sans", sans-serif;
}
.feedback-left-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 490px;
}
.feedback-left-title > h1 {
  color: white;
  font-size: 50px;
  font-family: "IBM Plex Sans", sans-serif;
}
.feedback-left-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 340px;
  height: 130px;
}
.feedback-left-inner > p {
  color: white;
  font-size: 16px;
  width: 450px;
  font-family: "IBM Plex Sans", sans-serif;
}
.feedback-left-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 340px;
  height: 70px;
}
.feedback-left-btn > a {
  border: 1px solid orange;

  background-color: orange;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: column;
  width: 180px;
  height: 50px;
  text-align: center;
  justify-content: center;
  align-items: center;
  /* padding: 10px 10px 10px 10px; */
  font-family: "IBM Plex Sans", sans-serif;
}
.feedback-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 580px;
}
.feedback-right > img {
  width: 500px;
  height: 500px;
}
.contact {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}
.contact-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-left-email {
  margin-top: 100px;
}
.contact-email-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
}
.contact-email-title > p {
  color: white;

  font-size: 20px;
  font-family: "IBM Plex Sans", sans-serif;
}
.contact-email-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin-top: 30px;
}
.contact-email-link > a {
  color: orangered;
  text-decoration: none;
  font-size: 40px;
  font-family: "IBM Plex Sans", sans-serif;
}
.contact-email-link > a:hover {
  border-bottom: 1px solid orangered;
}
.contact-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 580px;
}
.contact-left-number {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 780px;
  margin-top: 100px;
  margin-left: -250px;
}
.contact-number-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
}
.contact-number-title > p {
  color: white;

  font-size: 20px;
  font-family: "IBM Plex Sans", sans-serif;
}
.contact-number-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  margin-top: 30px;
}
.contact-number-link > a {
  color: orangered;
  text-decoration: none;
  font-size: 40px;
  font-family: "IBM Plex Sans", sans-serif;
}
.contact-number-link > a:hover {
  border-bottom: 1px solid orangered;
}
.contact-left-address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 150px;
  margin-top: -110px;
  /* margin-left: -250px; */
}
.contact-address-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 450px;
}
.contact-address-title > p {
  color: white;

  font-size: 20px;
  font-family: "IBM Plex Sans", sans-serif;
}
.contact-address-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 490px;
  margin-top: 30px;
}
.contact-address-link > a {
  color: orangered;
  text-decoration: none;
  font-size: 40px;
  font-family: "IBM Plex Sans", sans-serif;
}
.contact-address-link > a:hover {
  text-decoration: solid;
}
.icons {
  display: inline-block;
  position: relative;
  top: 90px;
  left: 650px;
}
.icon {
  display: inline-block;
  padding: 5px;
}
.myproject {
  margin-left: 720px;
  margin-top: 100px;
  margin-bottom: 30px;
}

.myproject > p {
  font-size: 16px;
  color: white;
  font-family: "IBM Plex Sans", sans-serif;
}
@media (max-width: 800px) {
  .welcome,
  .cards,
  .about,
  .work,
  .services,
  .feedback {
    display: flex;
    flex-direction: column;
  }
}
/* Адаптация */
@media screen and (max-width: 767px) {
  .header-burger {
    display: block;
    position: relative;
    z-index: 3;
    width: 30px;
    height: 20px;
    background-color: #0e112e;
  }
  .header-burger:before,
  .header-burger:after {
    content: "";
    position: absolute;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 2px;
    transition: all 0.3s ease;
  }
  .header-burger:before {
    top: 0;
  }
  .header-burger:after {
    bottom: 0;
  }
  .header-menu-link {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
  }
  .header-burger span {
    position: absolute;
    left: 0;
    top: 9px;
    background-color: #fff;
    width: 100%;
    height: 2px;
    transition: all 0.3s ease;
  }
  .header-burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header-burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header-burger.active span {
    transform: scale(0);
  }
  .header-menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 40%;
    height: 30%;
    color: white;
    background-color: #0e112e;
    padding: 70px 0 10px 10px;

    transition: all 0.3s ease;
  }
  .header-menu.active {
    top: 0;
  }
  .header-menu-list {
    display: block;
  }
  .header-menu-list li {
    margin: 0 0 10px 0;
  }
  .header-menu-link {
    display: flex;
    flex-direction: column;
  }
  .wrapper-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 450px;
  }
  .welcome-left-title > h2 {
    font-size: 150%;
  }
  .welcome-left-inner > h1 {
    width: 200px;
    font-size: 160%;
  }
  .welcome-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
  }
  .welcome-right > img {
    width: 180px;
    height: 180px;
  }
  .cards-left-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    width: 1130px;
  }
  .cards-left-card {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 300px;
  }
  .cards-left-card-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    margin-top: 3px;
  }
  .cards-left-card-img > img {
    display: flex;
    flex-direction: column;
    width: 50px;
    height: 50px;
  }
  .cards-left-card-title {
    margin-top: 19px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
  }
  .cards-left-card-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;

    margin-top: 5px;
  }
  .cards-left-card-inner > p {
    width: 230px;
    height: 20px;
  }
  .cards-right-card {
    display: flex;
    flex-direction: column;
  }
  .cards-right-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    width: 605px;
    margin-top: -10px;
  }
  .js > img {
    width: 150px;
    height: 60px;
  }
  .git > img {
    width: 150px;
  }
  .welcome-left-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120px;
  }
  .about-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 250px;
  }
  .about-left > img {
    width: 200px;
    height: 200px;
  }
  .about-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 610px;
  }
  .about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 610px;
    margin-top: -70px;
  }
  .about-text > span {
    font-size: 70%;
  }
  .about-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 610px;
    margin-top: -40px;
  }
  .about-inner > P {
    font-size: 90%;
    width: 270px;
  }
}
